# Konfiguracja bazy danych
dbconfig.js
index.js
# Logi
*.log

# Pliki tymczasowe
temp_screenshot.png
screenshot.bmp

# Node modules
node_modules/

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki IDE
.vscode/
.idea/ 